<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Sucesiones</h1>
    <div>
        <label>Numero Fibonacci</label>
        <p></p>
        <button>Avanzar</button>
        <label>Feliz:</label>
        <label>Capicua:</label>
        <p></p>
        <label>Decimal</label>
        <input type="text" id="decimalFibo" name="decimalFibo">
        <p></p>
        <label>Binario</label>
        <input type="text" id="binarioFibo" name="binarioFibo">
        <p></p>
        <label>Hexadecimal</label>
        <input type="text" id="hexadecimalFibo" name="hexadecimalFibo">
        <p></p>
        <label>Español</label>
        <input type="text" id="esFibo" name="esFibo">
        <p></p>
        <label>Numero Suerte</label>
        <p></p>
        <button>Avanzar</button>
        <label>Feliz:</label>
        <label>Capicua:</label>
        <p></p>
        <label>Decimal</label>
        <input type="text" id="decimalSuerte" name="decimalSuerte">
        <p></p>
        <label>Binario</label>
        <input type="text" id="binarioSuerte" name="binarioSuerte">
        <p></p>
        <label>Hexadecimal</label>
        <input type="text" id="hexadecimalSuerte" name="hexadecimalSuerte">
        <p></p>
        <label>Español</label>
        <input type="text" id="esSuerte" name="esSuerte">
        <p></p>
        <label>Sucesion Padovan</label>
        <p></p>
        <button>Avanzar</button>
        <label>Feliz:</label>
        <label>Capicua:</label>
        <p></p>
        <label>Decimal</label>
        <input type="text" id="decimalPado" name="decimalPado">
        <p></p>
        <label>Binario</label>
        <input type="text" id="binarioPado" name="binarioPado">
        <p></p>
        <label>Hexadecimal</label>
        <input type="text" id="hexadecimalPado" name="hexadecimalPado">
        <p></p>
        <label>Español</label>
        <input type="text" id="esPado" name="esPado">
        <p></p>
        <label>Numero Ulam</label>
        <p></p>
        <button>Avanzar</button>
        <label>Feliz:</label>
        <label>Capicua:</label>
        <p></p>
        <label>Decimal</label>
        <input type="text" id="decimalUlam" name="decimalUlam">
        <p></p>
        <label>Binario</label>
        <input type="text" id="binarioUlam" name="binarioUlam">
        <p></p>
        <label>Hexadecimal</label>
        <input type="text" id="hexadecimalUlam" name="hexadecimalUlam">
        <p></p>
        <label>Español</label>
        <input type="text" id="esUlam" name="esUlam">
        <p></p>
        <button class="boton_personalizado">Retroceder</button>
    </div>
</body>

</html>