<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pruebas Qunit</title>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/qunit/qunit-1.11.0.css">
    <script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>
    <script type="text/javascript" src="js/tests.js"></script>
    <script type="text/javascript" src="js/NumeroSuerte.js"></script>
    <script type="text/javascript" src="js/ListaSuerte.js"></script>
    <script type="text/javascript" src="js/NumeroUlam.js"></script>
    <script type="text/javascript" src="js/listaUlam.js"></script> 
    <script type="text/javascript" src="js/NumeroPadovan.js"></script>
    <script type="text/javascript" src="js/NumeroFibonacci.js"></script>
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</body>

</html>